<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--<add key="Token" value="1751891602:AAH9Swcp1ALAoJh25gQg7u6HSxK90tdgRxE" />-->
    <add key="Token" value="1737687210:AAHzbxfkQVUqZHvqbMXkk1zUJAQ4uvUoJP0" />

    <add key="ExchangeUpdateIntervalSec" value="180" />

    <add key="Privat.Url" value="http://privatbank.ua" />
    <add key="Privat.ApiUrl" value="https://api.privatbank.ua/p24api/pubinfo?json&amp;exchange&amp;coursid=5" />

    <add key="Mono.Url" value="https://monobank.ua/" />
    <add key="Mono.ApiUrl" value="https://api.monobank.ua/bank/currency" />

    <add key="Rulya.Url" value="https://rulya-bank.com.ua/" />
    <add key="Rulya.ApiUrl" value="https://rulya-bank.com.ua/" />

    <add key="Lion.Url" value="https://lion-kurs.rv.ua/" />
    <add key="Lion.ApiUrl" value="https://lion-kurs.rv.ua/" />

    <add key="Piramida.Url" value="https://piramida-rovno.kursvalut.com/" />
    <add key="Piramida.ApiUrl" value="https://old.kurs.com.ua/informer/inf2new?color=black" />


  </appSettings>
</configuration>