<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" >

  <variable name="LogDirectory" value="./Logs"/>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file -->
    <target xsi:type="File" name="logfile" fileName="${LogDirectory}/general.log"
            layout="${longdate} | ${level} | ${message} | ${all-event-properties} ${exception:format=tostring}"
            archiveFileName="${LogDirectory}/Archive/general.{#}.log" 
            archiveAboveSize="3145728"   
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="10" />

    <target xsi:type="Console" name="logconsole"
            layout="${longdate} | ${level} | ${message} | ${all-event-properties} ${exception:format=tostring}" />

    <target xsi:type="File" name="loguser" fileName="${LogDirectory}/users.log"
            layout="${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="general" minlevel="Info" writeTo="logfile,logconsole" />
    <logger name="users" minlevel="Info" writeTo="loguser" />
  </rules>
</nlog>